[phases.setup]

[phases.install]
cmds = [
    'install-php-extensions bcmath intl gd zip',
    'composer install --no-dev --optimize-autoloader --no-interaction --ignore-platform-req=ext-bcmath --ignore-platform-req=ext-intl'
]

[phases.build]
cmds = [
    'php artisan config:cache',
    'php artisan route:cache',
    'php artisan view:cache'
]

[start]
cmd = 'php artisan serve --host=0.0.0.0 --port=${PORT:-8000}'
