button {
    outline: none;
    transition: .2s;
    cursor: pointer;

    &:hover {
        opacity: .7;
    }
}



.app-container {
    background-color: var(--app-background);
    width: 100%;
    height: 100%;
    font-family: 'DM Sans', sans-serif;
    display: flex;
    transition: .2s;
}

.left-side {
    position: relative;
    padding: 16px;
    flex-basis: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.navigation {
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding-top: 24px;
    border-radius: 10px;
    justify-content: center;
}

.app-main {
    flex: 1;
    height: 80%;
    width: 100%;
    padding: 72px 32px 16px 32px;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
}

.video-call-wrapper {
    width: 100%;
    /* height: 100%; */
    border-radius: 16px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* flex-direction: column; */
}

.video-participant {
    width: 50%;
    /* height: 50%; */
    position: relative;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.name-tag {
    position: absolute;
    bottom: 12px;
    right: 12px;
    font-size: 12px;
    color: #fff;
    background-color: rgba(0, 15, 47, 0.5);
    border-radius: 4px;
    padding: 4px 12px;
    z-index: 1;
}

.participant-actions {
    position: absolute;
    display: flex;
    left: 12px;
    top: 12px;
    z-index: 1;
}

.btn-mute,
.btn-camera {
    width: 32px;
    height: 32px;
    border-radius: 4px;
    background-color: rgba(0, 15, 47, 0.5);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px;
    border: none;
}

.btn-mute {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-mic-off' viewBox='0 0 24 24'%3E%3Cpath d='M1 1l22 22M9 9v3a3 3 0 005.12 2.12M15 9.34V4a3 3 0 00-5.94-.6'/%3E%3Cpath d='M17 16.95A7 7 0 015 12v-2m14 0v2a7 7 0 01-.11 1.23M12 19v4M8 23h8'/%3E%3C/svg%3E%0A");
    margin-right: 4px;
}

.btn-camera {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-camera-off' viewBox='0 0 24 24'%3E%3Cpath d='M1 1l22 22M21 21H3a2 2 0 01-2-2V8a2 2 0 012-2h3m3-3h6l2 3h4a2 2 0 012 2v9.34m-7.72-2.06a4 4 0 11-5.56-5.56'/%3E%3C/svg%3E%0A");
}

.video-call-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 64px;
    max-width: 500px;
}

.video-action-button {
    background-repeat: no-repeat;
    background-size: 24px;
    border: none;
    height: 48px;
    margin: 0 8px;
    box-shadow: var(--navigation-box-shadow);
    border-radius: 8px;
    width: 48px;
    cursor: pointer;
    outline: none;
    background-color: var(--button-bg);

    &.mic i {
        font-size: 24px;
        /* Adjust the font size here */
    }

    &.camera i {
        font-size: 20px;

    }

    &.maximize {
        font-size: 24px;
    }

    /* &.mic {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='%232c303a' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-mic-off' viewBox='0 0 24 24'%3E%3Cpath d='M1 1l22 22M9 9v3a3 3 0 005.12 2.12M15 9.34V4a3 3 0 00-5.94-.6'/%3E%3Cpath d='M17 16.95A7 7 0 015 12v-2m14 0v2a7 7 0 01-.11 1.23M12 19v4M8 23h8'/%3E%3C/svg%3E%0A");
        background-position: center;
    }

    &.camera {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='%232c303a' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-camera-off' viewBox='0 0 24 24'%3E%3Cpath d='M1 1l22 22M21 21H3a2 2 0 01-2-2V8a2 2 0 012-2h3m3-3h6l2 3h4a2 2 0 012 2v9.34m-7.72-2.06a4 4 0 11-5.56-5.56'/%3E%3C/svg%3E%0A");
        background-position: center;
    } */

    /* &.maximize {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='%232c303a' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-maximize' viewBox='0 0 24 24'%3E%3Cpath d='M8 3H5a2 2 0 00-2 2v3m18 0V5a2 2 0 00-2-2h-3m0 18h3a2 2 0 002-2v-3M3 16v3a2 2 0 002 2h3'/%3E%3C/svg%3E%0A");
        background-position: center;
    } */

    &.endcall {
        color: #ff1932;
        width: auto;
        font-size: 14px;
        padding-left: 42px;
        padding-right: 12px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23ff1932' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-phone-missed'%3E%3Cline x1='23' y1='1' x2='17' y2='7'/%3E%3Cline x1='17' y1='1' x2='23' y2='7'/%3E%3Cpath d='M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z'/%3E%3C/svg%3E");
        background-size: 20px;
        background-position: center left 12px;
    }

    &.magnifier {
        padding: 0 12px;
        display: flex;
        align-items: center;
        width: auto;
        flex-grow: 0;
        color: #2c303a;

        svg {
            width: 20px;
            flex-shrink: 0;
        }

        span {
            display: block;
            margin: 0 16px;
        }
    }
}

.participants {
    display: flex;
    background-color: var(--button-bg);
    box-shadow: var(--navigation-box-shadow);
    margin-top: 16px;
    padding: 12px;
    border-radius: 8px;
    max-width: 232px;
    margin-left: auto;
}

.participant-more {
    background-color: #e1e0e1;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #636181;
    font-weight: 700;
    border-radius: 8px;
    min-width: 32px;
}



.expand-btn {
    position: absolute;
    right: 32px;
    top: 24px;
    border: none;
    background-color: var(--chat-background);
    border-radius: 4px;
    padding: none;
    color: var(--message-text);
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;

    display: none;

    &.show {
        display: flex;
    }
}

.btn-close-right {
    border: none;
    background-color: transparent;
    position: absolute;
    top: 24px;
    right: 24px;
    color: var(--light-font);
    outline: none;
    cursor: pointer;

    display: none;
}

/* For screens smaller than 900px */
@media screen and (max-width: 900px) {
    .app-main {
        padding: 72px 16px 16px 16px;
        /* Adjust padding for the main content */
    }

    .left-side {
        margin-top: 0px;
        justify-content: unset;

    }


    .expand-btn {
        right: 16px;
        /* Adjust position of the expand button */
    }

    .right-side {
        display: block;
        /* Show the right-side chat panel */
        position: absolute;
        right: 0;
        background-color: var(--chat-background);
        transform: translateX(100%);
        z-index: 2;
        width: 100%;

        &.show {
            transform: translateX(0);
        }
    }

    .btn-close-right {
        display: block;
        /* Show the close button for the right-side panel */
    }
}

/* For screens smaller than 520px */
@media screen and (max-width: 520px) {
    .video-participant {
        width: 100%;
        /* Adjust participant width for smaller screens */
        height: 33.3%;
        /* Adjust participant height for smaller screens */
    }

    .bottom-buttons {
        position: fixed !important;
        bottom: 0;
        background: white;
        z-index: 3;
    }


    /* Adjust button sizes for smaller screens */
    .video-action-button {
        width: 32px;
        height: 32px;
        background-size: 14px;
        margin: 0 4px;
    }

    /* Adjust end call button size and padding for smaller screens */
    .video-action-button.endcall {
        background-size: 14px;
        font-size: 12px;
        padding-left: 36px;
    }

    /* Adjust magnifier button size and font size for smaller screens */
    .video-action-button.magnifier svg {
        width: 14px;
    }

    .video-action-button.magnifier span {
        margin: 0 4px;
        font-size: 12px;
    }
}
